#about-section {
  color: var(--alternate-text-color);
  background: var(--main-bg-color);
}

.about-subtitle {
  font-family: var(--main-big-font);
}

.about-paragraph {
  text-align: left;
  font-family: var(--main-small-font);
  font-size: 1.5vh;
  font-weight: 300;
}

.location-border {
  border-top: 2px var(--main-accent2-color) solid;
  width: 75%;
}

.about-location {
  text-align: left;
  font-family: var(--main-small-font);
  font-size: 1.25vh;
  color: var(--alternate-text-color);
}

.interact-text {
  font-family: var(--main-small-font);
  font-size: 1.5vh;
  text-align: center;
  font-weight: 300;
}