@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&family=Patua+One&display=swap");
:root {
  --main-accent-color: #E39834;
  --main-accent2-color: #E39834;
  --main-accent3-color: #7A9B7F;
  --main-accent4-color: #382D33;
  --main-bg-color: #EDE8D4;
  --main-hover-color: #cf6a27;
  --main-text-color: #EDE8D4;
  --alternate-text-color: #382D33;

  --main-big-font: "Patua One", cursive;
  --main-small-font: "Montserrat", sans-serif;
}

.section-title {
  text-align: center;
  font-family: var(--main-big-font);
  color: var(--alternate-text-color);
}

.section-border {
  border-top: 5px var(--main-accent2-color) solid;
  width: 25%;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  cursor: unset !important;
}

html {
  height: -webkit-fill-available;
}