.topButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--main-accent2-color);
    color: var(--main-text-color);
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    font-size: 2vh;
  }

  .topButton i {
    display: flex;
  }

  .topButton:active {
    transform: translateY(2px);
  }

  .topButton.on {
    opacity: 1;
    transition: opacity 0.1s linear;
  }

  .topButton.off {
    opacity: 0;
    transition: opacity 0.1s linear;
  }

  @media (max-width: 450px) {
    .topButton {
      font-size: 3.5vh;
    }
  }